{% extends 'layouts/base.html' %}

{% block title %} 
Eliminar Categoria
{% endblock %}

{% block content %}
<form action="{{ url_for('borrarcategoria') }}" method="POST">
        <h1 class="p-3 mb-2 bg-secondary text-white text-center">Eliminar Categoria</h1>
        <div class="mb-2">
        <h6 required for="EIDC">Digite El ID De La Categoria A Eliminar</h6>
        <input class="form-control" type="text" id="EIDC" name="EIDC">
        </div>
        <div>
        <button type="submit" class="btn btn-danger" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Eliminar</button>
       
        </div>
</form>
{% endblock %}