{% extends 'layouts/base.html' %}

{% block title %} 
Eliminar Categoria
{% endblock %}

{% block content %}
<form action="{{ url_for('borrarcategoria') }}" method="POST">
        <h1>Eliminar Categoria</h1>
        <div>
        <label for="EIDC">Digite El ID De La Categoria A Eliminar</label>
        <input type="text" id="EIDC" name="EIDC">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button class="btn btn-info"><a href="{{ url_for('categorias') }}" >Volver</a></button>
        </div>
</form>
{% endblock %}