{% extends 'layouts/base.html' %}

{% block title %} 
Eliminar Producto
{% endblock %}

{% block content %}
<form action="{{ url_for('borrarproducto') }}" method="POST">
        <h1 class="p-3 mb-2 bg-secondary text-white text-center">Eliminar Producto</h1>
        <div class="mb-2">
        <h6 for="EIDP">Digite El ID Del Producto A Eliminar</h6>
        <input class="form-control"type="text" id="EIDP" name="EIDP">
        </div>
        <div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
</form>
{% endblock %}