{% extends 'layouts/base.html' %}

{% block title %} 
Eliminar Usuario
{% endblock %}

{% block content %}
<form action="{{ url_for('borrarusuario') }}" method="POST">
        <h1>Eliminar Usuario</h1>
        <div>
        <label for="DNombre">Digite El ID Del Usuario A Eliminar</label>
        <input type="text" id="DNombre" name="DNombre">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button class="btn btn-info"><a href="{{ url_for('usuarios') }}" >Volver</a></button>
        </div>
</form>
{% endblock %}