{% extends 'layouts/base.html' %}

{% block title %} 
Crear Categoria
    
{% endblock %}

{% block content %}
<form action="{{ url_for('crearcategoria') }}" method="POST">
        <h1 class="p-3 mb-2 bg-secondary text-white text-center">Crear Categoria</h1>
        <div class="mb-2">
            <h6 for="NuevaCategoria">Categoria</h6>
            <input class="form-control" type="text" name="NuevaCategoria" id="NuevaCategoria">
        </div>
        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
</form>

{% endblock %}