{% extends 'layouts/baseparainicio.html' %}

{% block title %} 
Inicio De Sesión
{% endblock %}


{% block content %}

			<div class="container h-100">
				<div class="row justify-content-center h-100">
					<div class="col-sm-6 align-self-center text-center">
						<div class="card shadow">
							<div class="card-body">           
								<form action="{{ url_for('registrarse') }}" method="POST">
									<h1 class="text-success">Registrarse</h1>
									<div class="mb-2"></div>
									<label class="form-label" for="RUsuario">Usuario</label>
									<input class="form-control" type="text" id="RUsuario" name="RUsuario">
									</div>
									<div >
										<label class="form-label" for="RCorreo">Correo</label>
										<input class="form-control"type="email" id="RCorreo" name="RCorreo">
									</div>
									<div>
										<label class="form-label" for="RContraseña">Contraseña</label>
										<input class="form-control" type="password" id="RContraseña" name="RContraseña">
									</div>
									<div>
										<button class="btn btn-success" type="submit"> Registrar </button>
									</div>
									</form>           
							</div>
						</div>
					</div>
				</div>
			</div>  
{% endblock %}