{% extends 'layouts/baseparainicio.html' %}

{% block title %} 
Login
{% endblock %}


{% block content %}
		<form action="{{ url_for('login') }}" method="POST">
		<h1>Iniciar Sesion</h1>
		<div>
			<label for="LCorreo">Correo</label>
			<input class="BtnLogin" requiredtype="email" id="LCorreo" name="LCorreo">
		</div>
		<div>
			<label for="LContraseña">Contraseña</label>
			<input class="BtnLogin" required type="password" id="LContraseña" name="LContraseña">
		</div>
		<div>
			<button type="submit"> Ingresar </button>
		</div>
		<a href="{{ url_for('registrarse') }}">Crear cuenta</a>
		</form>
{% endblock %}