{% extends 'layouts/base.html' %}

{% block title %} 
    Editar Usuario
{% endblock %}

{% block content %}
<form action="{{ url_for('modificarusuario') }}" method="POST">
        <h1>Editar Perfil</h1>
        <div id="contenido2">
        <label for="IdP">Identificador</label>
        <input type="text" id="IdP" name="IdP">
        <label for="EditarNombreP">Nombre</label>
        <input type="text" id="EditarNombreP" name="EditarNombreP">
        <label for="EditarCorreoP">Corre</label>
        <input type="text" id="EditarCorreoP" name="EditarCorreoP">
        <label for="EditarContraseñaP">Contraseña</label>
        <input type="text" id="EditarContraseñaP" name="EditarContraseñaP">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button class="btn btn-info"><a href="{{ url_for('usuarios') }}" >Volver</a></button>
        </div>
</form>

{% endblock %}