{% extends 'layouts/base.html' %}

{% block title %} 
    Editar Producto
{% endblock %}

{% block content %}
<form action="{{ url_for('modificarproducto') }}" method="POST">
        <h1 class="p-3 mb-2 bg-secondary text-white text-center">Modificar Productos</h1>
        <div class="mb-2">
        <label class="mx-auto" style="width: 100px;" for="EID">Identificador</label>
        <input class="form-control" type="text" id="EID" name="EID">    
        <label class="mx-auto" style="width: 100px;" for="ENombre">Nombre</label>
        <input class="form-control"type="text" id="Nombre" name="ENombre">
        <label class="mx-auto" style="width: 100px;" for="EPrecio">Precio</label>
        <input class="form-control" type="text" id="EPrecio" name="EPrecio">
        <label class="mx-auto" style="width: 100px;" for="ECategorias">Categorias</label>
        <select class="form-control" name="ECategoria">
            {%for Categorias in Categorias %}
            <option value="{{Categorias[1]}}">{{Categorias[1]}}</option>
            {%endfor%}
        </select>   
    </div>
        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
       
</form>

{% endblock %}