{% extends 'layouts/base.html' %}

{% block title %} 
Categorias
{% endblock %}

{% block content %}
<h1>Categorias</h1>
<div>
    <button class="btn btn-success"><a href="{{ url_for('crearcategoria') }}" >Crear</a></button>
</div>
<table> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>{% for lista in categorias %}
        <tr>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>
                <button class="btn btn-info"><a href="{{ url_for('modificarcategoria') }}" >Editar</a></button>
                <button class="btn btn-danger"><a href="{{ url_for('borrarcategoria') }}" >Eliminar</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}