{% extends 'layouts/base.html' %}

{% block title %} 
Productos
{% endblock %}

{% block content %}
<h1 class="p-3 mb-2 bg-secondary text-white text-center">Productos</h1>
<div>
<button class="btn btn-success"><a class="btn btn-success" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"href="{{ url_for('crearproducto') }}" >Crear</a></button>
</div>
<table class="table table-bordered"> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>{% for lista in productos %}
        <tr>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>{{ lista[2] }}</td>
            <td>{{ lista[3] }}</td>
            <td>
                <a class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"href="{{ url_for('modificarproducto') }}" >Editar</a>
                <a class="btn btn-danger" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" href="{{ url_for('borrarproducto') }}" >Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}