{% extends 'layouts/base.html' %}

{% block title %} 
Productos
{% endblock %}

{% block content %}
<h1>Productos</h1>
<div>
<button class="btn btn-success"><a href="{{ url_for('crearproducto') }}" >Crear</a></button>
</div>
<table> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>{% for lista in productos %}
        <tr>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>{{ lista[2] }}</td>
            <td>{{ lista[3] }}</td>
            <td>
                <button class="btn btn-info"><a href="{{ url_for('modificarproducto') }}" >Editar</a></button>
                <button class="btn btn-danger"><a href="{{ url_for('borrarproducto') }}" >Eliminar</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}